.anime-filter {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .anime-filter select {
    display: none;
  }
  
  .anime-filter .custom-select {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .anime-filter .custom-select img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
  }
  
  .anime-filter .options {
    padding: 5px;
    position: absolute;
    top:100%;
    background-image: url("../../public/images/fundo-dbz.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover, auto;
    backdrop-filter: blur(5px);
    border: 1px solid #ddd;
    z-index: 2;
    gap: 10px;
    justify-content: center;
    border-radius: 12px;
}


  .anime-filter .options img{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
  }
  
  .anime-filter .options.active {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }
  
  .anime-filter .options div {
    padding: 10 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .anime-filter .options img:hover {
    filter: drop-shadow(-3px 3px 3px rgba(3, 220, 228, 0.993));
  }
  