.gif-selection-container {
  width: 500px;
  height: 100vh;
  position: fixed;
  right: 20px;
}

.gif-container {
  width: 500px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif-item {
  height:100%;
  text-align: center;
  padding: 50px;
}

.gif-image {
  max-width: 500px;
  max-height: 450px;
  object-fit: contain; 
}

.character-info {
  margin-top: 50px;
}

.character-info h3 {
  width: 450px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid aqua;
  margin-bottom: 5px;
}

.character-info p {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}