.anime-filter {
    margin: 20px 0;
    text-align: center;
  }
  
  .anime-filter label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .anime-filter select {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid white;
  }

  .home-container {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 100px);
    justify-content: center;
  }
  