.download-fslide {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    z-index: 0;
  }
  
  .download-fslide .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .download-fslide .swiper-pagination-bullet {
    background-color: var(--border-light);
  }
  
  .download-fslide .swiper-pagination-bullet-active {
    background-color: var(--secondary);
    opacity: 1;
  }
  
  .download-fslide .swiper-button-next,
  .download-fslide .swiper-button-prev {
    color: var(--secondary);
  }
  